/* --------------------------------------Document----------------------------------------- */

body{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

.relative {
	position: relative;
}

.absolute {
	position:absolute;
}

h1{
	text-align: center;
	background-color:Gray;
	color:whitesmoke;
}

/* --------------------------------------Calcultator container------------------------------ */

.container{
	width:300px;
	margin:auto;
	height:457px;
}

.screen {
	height: 30%;
	background-color: #e3e3e3;
	border-bottom: 2px solid #f0f0f0;
	overflow:hidden;
}

.keyboard{
	height: 70%;
	position:relative;
	background-color: #d6d6d6;
}

/* --------------------------------------Screen------------------------------ */

.clear {
	width:99px;
	height: 20px;
	padding: 3px 0;
	text-align: center;
	float:left;
	text-transform: uppercase;
	font-size: 0.8em;
	border-bottom:2px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
	color:#484848;
}

.result{
	float:right;
	font-size:3em;
	padding: 25px 10px;
}

/* --------------------------------------Keyboard------------------------------ */



/* ---------Digit Keyboard--------- */

.keyboard_digit{ 
	width:217px;
}

.key_digit{
	float:left;
	width:70px;
	height:80px;
	display: flex;
  	align-items: center;
 	justify-content: center;
	font-size: 1.5em;
	color:#181818;
}

key_digit:hover{
	background-color: #c9c9c9;
}


/* ---------Operators Keyboard--------- */

.keyboard_operator{
	float:right;
	width:75px;
	border-left: 2px solid #f0f0f0;
}

.key_operator {
	width:70px;
	height:80px;
	display: flex;
  	align-items: center;
 	justify-content: center;
	font-size: 1.5em;
	position: relative;
	color:#484848;
}

/* ---------Division absolute design--------- 

.div_line, .sub_line {
	background-color: blue;
	height: 2px;
	width: 11px;
	
}

.point{
	background-color: blue;
	height:3px;
	width:3px;
	border-radius:50%;
	position:absolute;
}

.up {
	top:33px;
	left:33.5px;
}

.down {
	bottom:33px;
	left:33.5px;
}

---------/ Division absolute design--------- */


				
				
				
				
				
				
				
				
				
